Training/2dpdfs
Training/DES
Training/DESSky
Training/idealisedlenses
Training/MockImages
Training/TrainingSet
TrainingSet.csv
Training/ExcelData
Training/SimulatedImages
MachineLearning
settings.json
Training/PositiveNoiseless/
Training/PositiveWithDESSky/
Training/KnownLenses/
Training/.vscode
.DS_Store
.vscode
*.zip
*.tar.gz
*.png
*.jpeg
*.fits
model_baseline.h5
DESa_lsst_lists.pkl
DESb_lsst_lists.pkl
DESc_lsst_lists.pkl
Training/KnownLenses.xlsx
Training/lenses_DESa.txt
Training/lenses_DESb.txt
Training/lenses_DESc.txt
Training/lenses_Euclid.txt
Training/lenses_LSSTa.txt
Training/lenses_LSSTb.txt
Training/lenses_LSSTc.txt
Training/lenspopsplines.pkl
Training/lsst.1sqdegree_catalog2.pkl
Training/lsst.1sqdegree_catalog2.txt
